@font-face {
  font-family: "iconfont"; /* Project id 3886386 */
  src: url('iconfont.woff2?t=1676021376421') format('woff2'),
       url('iconfont.woff?t=1676021376421') format('woff'),
       url('iconfont.ttf?t=1676021376421') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e607";
}

.icon-shouji4:before {
  content: "\e60a";
}

.icon-rss:before {
  content: "\ea1e";
}

.icon-xiangqing:before {
  content: "\e600";
}

.icon-error-1:before {
  content: "\e60f";
}

.icon-tuihui:before {
  content: "\e723";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-fuzhi:before {
  content: "\e621";
}

.icon-xiaxian:before {
  content: "\e63d";
}

.icon-banshou:before {
  content: "\e6b9";
}

